body{
  padding-top: 43px;
  font-family: 'Roboto Condensed', sans-serif;
}

.content-banner{
  padding-top: 50px;
  background-image: url('/static/images/rest.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw; 
  
}

input[type="text"], textarea {

  background-color : #fafafa; 

}


.quick-search {
  max-width: 900px;
}

.quick-search img {
  display:block;
  margin:auto;
}

.icon{
  background-color:transparent;
  width: 120px;
  padding: 30px;
  margin-bottom: 5px;
  border: none;
  transition: transform .1s ease;

  
}

.icon:hover, .btn:hover{
  cursor: pointer; 
}

.quick-search p{
  font-size: 16px;
}


.card-img-overlay {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:10;
    margin-left:50px;
    
  }
  
  .card-img-top{
    width: 100%;
    height:40vh;
    object-fit: cover;
  }
  

  .favcard:hover, .icon:hover, .btn:hover, .nearCard:hover{
    transform: scale(1.05);
  }

  .favcard, .btn, .nearCard, .icon{
    transition: transform .1s ease;
  }
  
  #header{
    width: 400px;
    height: 400px;
    background-color: #c2b79a;
    opacity: 0.7;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
    padding: 30px;
    padding-top: 80px;
  }


  .nearTitle{
    border-color:black;
    margin: 20px;
    color: black;
    text-transform: uppercase;
  }

  #user_location{
    max-width: 500px;
    text-align: center;
    
  }

  .copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0 0 0;
}

.navbar-custom{ 
  color: black !important;
}

.navbar{
text-transform: uppercase;
}


.custom:hover{
color:white;
}

.btn, 
.btn:hover {
  background-color: white;
  opacity: 0.7;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

.btn:focus{
  outline: none;
  box-shadow: none;
}


.saved{
opacity:0.7;
}

.nearCard:hover{
opacity:0.7
}

