{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid my-3">
    <div class="container">
      <h1 class="display-4">Need help deciding where to eat?</h1>
      <p class="lead"></p>
    </div>
  </div>

<div class="container my-5">
    <form action="{{ url_for('lucky_spin')}}">
        <button class="btn btn-outline-danger spin" data-id="nopref" type='submit'>Quick Spin</button>
        <a class="btn btn-outline-danger" href="{{ url_for('set_pref') }}">Set preferences</a>
    </form>
</div>



{% endblock %}