{% extends 'base.html' %}
{% block title %} Favorites {% endblock %}
{% block content %}

{% if not favs %}
<div class="text-center alert alert-warning my-5">Favorites empty!</div>
    {% endif %}
        <div class="d-flex justify-content-center my-3">    
            <div class="row">
            {% for res in favs %}
            {% if favs|length > 3 %}
                <div class="col-lg-3 col-md-4  d-flex align-items-stretch">
                    {% else %}
                    <div class="col">
                    {% endif %}
                    <div class="card favcard shadow my-3" style="width: 18rem;" id="card">
                            <img src="{{res.restaurant.image_url}}"  class="card-img-top img-fluid " alt="..." onerror=this.src='/static/images/yelp.png'>
                            <div class="card-img-overlay d-flex flex-row justify-content-end">
                                <a href="" data-id="{{res.restaurant.id}}" id="fav-id" class="fas fa-heart" style="color:white; font-size: 2em; text-decoration: none;" ></a>
                            </div>
                        <div class="card-body">
                        <h5 class="card-title">{{res.restaurant.name}}</h5>
                        {% if res.restaurant.rating == 0 %}
                        <img src="/static/images/yelp_stars/web_and_ios/small/small_0.png" alt="">
                        {% elif res.restaurant.rating == 1 %}
                        <img src="/static/images/yelp_stars/web_and_ios/small/small_1.png" alt="">
                        {% elif res.restaurant.rating == 1.5 %}
                        <img src="/static/images/yelp_stars/web_and_ios/small/small_1_half.png" alt="">
                        {% elif res.restaurant.rating == 2 %}
                        <img src="/static/images/yelp_stars/web_and_ios/small/small_2.png" alt=""> 
                        {% elif res.restaurant.rating == 2.5 %}
                        <img src="/static/images/yelp_stars/web_and_ios/small/small_2_half.png" alt="">
                        {% elif res.restaurant.rating == 3%}
                        <img src="/static/images/yelp_stars/web_and_ios/small/small_3.png" alt="">
                        {% elif res.restaurant.rating == 3.5 %}
                        <img src="/static/images/yelp_stars/web_and_ios/small/small_3_half.png" alt="">
                        {% elif res.restaurant.rating == 4 %}
                        <img src="/static/images/yelp_stars/web_and_ios/small/small_4.png" alt="">
                        {% elif res.restaurant.rating == 4.5 %}
                        <img src="/static/images/yelp_stars/web_and_ios/small/small_4_half.png" alt="">
                        {% else %}
                        <img src="/static/images/yelp_stars/web_and_ios/small/small_5.png" alt="">
                         {% endif %}
                         <p class="card-text">{{res.restaurant.rev_num}} reviews </p>

                        <p class="card-text">
                            <svg class="bi bi-phone" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11 1H5a1 1 0 00-1 1v12a1 1 0 001 1h6a1 1 0 001-1V2a1 1 0 00-1-1zM5 0a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V2a2 2 0 00-2-2H5z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M8 14a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                              </svg>
                            {{res.restaurant.phone}}</p></span>
                        <p class="card-text">{{res.restaurant.price}}</p>
                        <i class="fa fa-yelp" style="color:red" aria-hidden="true"></i>
                        <a href="{{res.restaurant.url}}" class="card-link text-danger">More Info</a>
                        <p class="card-text"><small class="text">Powered by Yelp</small></p>
                        </div>
                    </div>   
                </div>
        {%endfor%}
    </div>
</div>


{% endblock %}