{% extends 'base.html' %}
{% block content %}


<div class=" d-flex justify-content-center my-3">
    {% for resp in response %}
    <div class="card" style="max-width: 18rem;" id="card">
        <img src="{{resp['image_url']}}" class="card-img-top" alt="...">
        <div class="card-img-overlay d-flex flex-row justify-content-end">
          <form action="", method="POST">
            <a href="/user/add_fav" data-id="{{resp['id']}}" id="fav-id" class="far fa-heart" style="color:white; font-size: 2em; text-decoration: none;" ></a>
          </form>
        </div>
        <div class="card-body">
        <h5 class="card-title">{{resp['name']}}</h5>
        <p class="card-text">Rating: {{resp['rating']}}</p>
        <p class="card-text">Contact: {{resp['phone']}}</p>
        <p class="card-text">{{resp['price']}}</p>
        <p class="card-text">Reviews: {{resp['review_count']}}</p>
        <i class="fa fa-yelp" style="color:red" aria-hidden="true"></i>
        <a href="{{resp['url']}}" class="card-link text-danger">More Info</a>
        <a href="#" class="card-link text-danger">Get Directions</a>
        </div>
      </div>   
      {%endfor%}
    </div>

      <form action=""class="d-flex justify-content-center mb-3" >
        <a href="{{ url_for('lucky_spin') }}" class="btn btn-outline-danger">Spin</a>
        <a href="{{ url_for('set_pref')}}" class="btn btn-outline-danger ml-1">Back</a>
      </form>
     

{% endblock %}